.player-card {
    display: inline-block !important;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.player-image {
    width: 200px;
}

.hover-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hidden {
    visibility: hidden;
}

.jersey-no {
    font-style: italic;
    color: lightslategray;
    font-size: small;
}