body {
    background-image: url("footballfield.jpg"); /* , linear-gradient(black, white); */
    background-color: black !important;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.95;
    /*Image source https://www.flickr.com/photos/chrispusateri/12219528855/ */
}

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}

#search-results-info {
    color: lightslategray;
    font-style: italic;
    padding-left: 15px;
}

.top-pad {
    padding-top: 15px;
}

.search-button {
    background-color: #afcc58;
    color: white;
}

.player-card {
    display: inline-block !important;
    border: 1px solid black;
    text-align: center;
    position: relative;
    opacity: 2;
    background-color: darkgray;
    font-size: 16px;
    border-radius: 10%;
    background-color: #d3d3d3 !important;
    margin: 2px;
}

.left-search-bar {
    box-shadow: 0 0 10px 1px black;
    padding-top: 25px;
}

.player-roster, .selection-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player-image {
    width: 200px;
    padding: 10px;
}

.hover-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hidden {
    visibility: hidden;
}

.jersey-no {
    font-style: italic;
    color: lightslategray;
    font-size: small;
}

.loading-message {
    font-size: 10px;
    color: lightslategray;
}